.gradient-bg-banner{
//     background: rgb(30,64,175);
// background: linear-gradient(184deg, rgba(30,64,175,1) 30%, rgba(59,130,246,1) 75%);
background: rgb(0,0,0);
background: linear-gradient(31deg, rgba(0,0,0,1) 14%, rgba(30,64,175,1) 85%);
    padding-top: 1.5rem;
}

.gradient-bg-mid{
    background: rgb(255,255,255);
    background: linear-gradient(174deg, rgba(255,255,255,1) 14%, rgba(30,64,175,1) 92%);

}
