.roll-top-container {
    .roll-top-btn {
        width: 60px !important;
        height: 60px !important;
        position: fixed;
        right: 16px;
        background-color: #d4a650;
        // bottom: 60px;
        border-radius: 100%;

        // font-size: 24px !important;
        z-index: 5;
    }
    .roll-top-btn-mobile {
        width: 48px !important;
        height: 48px !important;
        position: fixed;
        right: 16px;
        border-radius: 100%;

        background-color: #d4a650;
        // bottom: 60px;
        // font-size: 24px !important;
        z-index: 5;
    }
}