.mapboxgl-ctrl-bottom-left{
    display: none !important;
}
.mapboxgl-ctrl-attrib{
    display: none !important;
}
.mapboxgl-popup-content{
    max-width: 384px !important;
    width: 73vw !important;
}
