.header {
  .title {
    color: #2f5097;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
  }

  .caption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0;
    text-align: left;
  }
}

.login {
  label {
    color: #4d5965;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .forgot-password {
    color: #00b14f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }

  .or {
    text-align: center;
    color: #6f7882;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .agreement-social-login {
    color: #6f7882;
  }

  .register {
    color: #00b14f;
    font-weight: 600;
  }
}

.bg-right {
  background-image: url(https://res.cloudinary.com/ddwjnjssj/image/upload/v1709741967/images/banners/tde00h9gzlhdax3skc7m.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);

  img {
    height: 100%;
  }
}

.basic {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.text-color-red {
  color: #ff0000 !important;
}

.back-home {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d38b2c;
  display: flex;
  justify-content: center;
  align-items: center;

  // hover
  &:hover {
    cursor: pointer;
  }
}
