.translateX-230{
    transform: translateX('230px');
}
.translateX-460{
    transform: translateX('460px');
    
}
.translateX-690{
    transform: translateX('690px');
    
}
.translateX-920{
    transform: translateX('920px');
    
}